<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navcol">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="<%= root_path %>">GLEAM HOTEL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <% if current_user && current_user.admin%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= pages_path %>">Admin Dashboard</a>
        </li>
        <% end %>
      </ul>
    </div>
    
      <ul class="navbar-nav ml-auto"> 
        <% if current_user%>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email%>
          </a>
          <ul class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Settings</a></li>
            <li><a class="dropdown-item" href="<%= mybookings_path %>">Bookings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li> <%= link_to  "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %> </li>
          </ul>
        </li>

        <%else%>

          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href=" <%= new_user_registration_path %> ">Sign Up</a>
          </li>

        <% end %>
      </ul>
  </div>
</nav>